.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.authbtn{
  background-color: #133c94;
  border-color: #133c94;
  margin-bottom: 15px;
}
.authwhiterapper{
  padding: 20px 55px 33px 55px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}

.iconcolors{
  color: #8c99a7;
}

.bodypadding{
  padding-top: 60px;
}
.btntoggle{
  background-color: #3b5998;
  border-color: #3b5998;
}
.btntoggle:hover {
  background-color: #4f76c8;
  border-color: #4f76c8;
}
.userediticon{
  color: rgb(91, 96, 100);
}
.dashcontent{
  background-color: #ffffff;
}
.myrow{
  margin-left: 0px;
  margin-right: 0px;
  text-align: justify;
}
.linkactive{
  background-color: white;
}